/* 
##########################################
VARIABLES
##########################################
*/
:root {
  --primary-color: #fff;
  --secondary-color: #008cba;
  --light-color: #eee;
  --dark-color: #1a1a1a;
  --dark-blue: #005c7a;
  --darkest-blue: #002c3a;
}

/* 
##########################################
INCLUDE FONTS
##########################################
*/
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto/Roboto-Regular.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway/Raleway-Light.ttf");
}
@font-face {
  font-family: "Raleway";
  src: url("fonts/Raleway/Raleway-Medium.ttf");
  font-weight: bold;
}
/* 
##########################################
LAYOUT & GLOBAL CSS
##########################################
*/
html,
body {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, "Times New Roman", Times, serif, sans-serif;
}

p {
  text-align: justify;
  margin-bottom: 8px;
}

h1,
h2,
h3 {
  font-family: Raleway, arial, sans-serif;

  /* 
  Professional enough? I don't really know how I'm meant to do that,
  but I think it looks good like this.
   */
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

.d-flex {
  display: block; /* flex when above certain screen width */
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-center {
  flex: 1;
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}

.mar-right {
  margin-right: 15px;
}
.mar-top {
  margin-top: 20px;
}
.mar-bot {
  margin-bottom: 20px;
}
.border-right {
  padding-right: 15px;
  border-right: 1px solid var(--dark-blue);
}
.border-bottom {
  border-bottom: 1px solid var(--primary-color);
}
.row {
  position: relative;
  margin: auto -15px;
}

img.screenshot {
  box-sizing: border-box;
  border: 2px solid var(--darkest-blue);
  margin-bottom: 15px;
}
.section {
  padding: 20px 0;
  min-height: 300px;
  width: 100%;
  position: relative;
  float: left;
}
.section.content {
  padding: 40px 0;
  min-height: 300px;
  width: 100%;
  position: relative;
  float: left;
}

.section:nth-child(2n) {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.section:nth-child(2n - 1) {
  background-color: var(--primary-color);
  color: var(--dark-color);
}
.section:nth-child(1) {
  box-shadow: none;
}
.section.header {
  margin-bottom: 5px;
  min-height: 100px;
  background-color: var(--dark-blue);
  -webkit-box-shadow: 0 2px 5px 0px var(--darkest-blue);
  -moz-box-shadow: 0 2px 5px 0px var(--darkest-blue);
  box-shadow: 0 2px 5px 0px var(--darkest-blue);
}
/* Previously had col-1,col-2... col-m-1,col-m-2 etc. I thought there had to be a better way to do this,
 turns out there was https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .col-m-1 {
    width: 16.66%;
  }
  .col-m-2 {
    width: 33.33%;
  }
  .col-m-3 {
    width: 50%;
  }
  .col-m-4 {
    width: 66.66%;
  }
  .col-m-5 {
    width: 83.33%;
  }
  .col-m-6 {
    width: 100%;
  }
  .d-flex {
    display: flex;
  }
}
@media only screen and (min-width: 1400px) {
  .col-l-1 {
    width: 16.66%;
  }
  .col-l-2 {
    width: 33.33%;
  }
  .col-l-3 {
    width: 50%;
  }
  .col-l-4 {
    width: 66.66%;
  }
  .col-l-5 {
    width: 83.33%;
  }
  .col-l-6 {
    width: 100%;
  }
}
.align-left {
  float: left;
}
.align-center {
  margin: auto auto;
}
.align-right {
  float: right;
}

.text-center {
  text-align: center;
}
.p-relative {
  position: relative;
}

/* 
##########################################
TABLE CSS
##########################################
*/
table {
  text-align: left;
  width: 100%;
  border-spacing: 0;
}
table tr {
  display: flex;
  flex-flow: row;
  width: 100%;
}
table tr:nth-child(odd) td {
  background-color: var(--secondary-color);
  color: #fff;
}
table tr:nth-child(even) td {
  background-color: var(--primary-color);
  color: var(--dark-color);
}
table tr:nth-child(odd) th {
  background-color: var(--darkest-blue);
  color: #fff;
}
table tr:nth-child(even) th {
  background-color: var(--light-color);
  color: var(--dark-color);
}

table td,
table th {
  padding: 5px;
  margin: 0;
  flex: 1;
  border: none;
}
table th {
  font-family: Raleway, arial, sans-serif;
}
table.comp-analysis th p {
  text-align: left;
}
table.comp-analysis th {
  display: flex;
  flex: 1;
}
table.comp-analysis td {
  display: flex;
  flex: 2;
  word-wrap: break-word;
}

table.marking td,
table.marking th {
  border: 1px solid #fff;
  margin: 0 -1px -1px 0;
}
table.marking th {
  text-align: center;
  background-color: var(--darkest-blue);
  color: #fff;
}

table.milestones-tbl tr {
  display: table-row;
}

table.milestones-tbl tr th {
  background: var(--darkest-blue);
  color: var(--primary-color);
}

table.milestones-tbl tr th.release {
  background: var(--dark-color);
  color: var(--primary-color);
}

.milestones-tbl .milestone-week {
  background: var(--darkest-blue);
  color: var(--primary-color);
}
.milestone-feature.dark {
  background: var(--dark-blue);
  color: var(--primary-color);
}
.milestone-feature.light {
  background: var(--secondary-color);
  color: var(--primary-color);
}
.milestones-tbl tr:nth-child(even) .milestone-task,
.milestones-tbl tr:nth-child(even) .milestone-task-time {
  background: var(--primary-color);
  color: var(--dark-color);
}
.milestones-tbl tr:nth-child(odd) .milestone-task,
.milestones-tbl tr:nth-child(odd) .milestone-task-time {
  background: var(--light-color);
  color: var(--dark-color);
}

/* #################################
    PAGE CURL - base code from here - https://codepen.io/JoostKiens/pen/sIwmb - I've modified it to fit my needs. Did this for fun.
####################################*/

.curl {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: -1px;
  left: 0;
  transition: all 0.5s ease;
}
.curl-container {
  height: 80px;
}
.curl:before,
.curl:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 12.5%;
  bottom: 5.8%;
  width: 70%;
  max-width: 300px;
  max-height: 100px;
  height: 55%;
  box-shadow: 0 12px 15px rgba(0, 0, 0, 0.3);
  transform: skew(-10deg) rotate(-6deg);
}
.curl:after {
  left: auto;
  right: 5.8%;
  bottom: auto;
  top: 14.16%;
  transform: skew(-15deg) rotate(-84deg);
}
.curl:hover {
  width: 100px;
  height: 100px;
}
.curl:hover:before,
.curl:hover:after {
  box-shadow: 0 24px 30px rgba(0, 0, 0, 0.3);
}

.section:nth-child(2n) .curl {
  background: linear-gradient(
    225deg,
    #fff,
    #f3f3f3 45%,
    #ddd 50%,
    var(--dark-blue) 50%,
    var(--secondary-color) 56%,
    var(--secondary-color) 100%
  );
}
.section:nth-child(2n - 1) .curl {
  background: linear-gradient(
    225deg,
    #fff,
    #f3f3f3 45%,
    #ddd 50%,
    #aaa 50%,
    #fff 56%,
    #fff 100%
  );
}
/* push pin css is mine. 
Including it here becuase it's part of the page curl effect */
.push-pin {
  position: absolute;
  top: 0;
  right: 0;
}
/* ##########################################
FEATURES CSS
########################################## */
.time-estimate {
  padding: 10px;
  font-weight: bold;
}
.section:nth-child(2n) .time-estimate {
  background-color: var(--light-color);
  color: var(--darkest-blue);
}
.section:nth-child(2n - 1) .time-estimate {
  background-color: var(--darkest-blue);
  color: var(--light-color);
}
/* ##########################################
DESIGNS CSS
########################################## */
.design-container {
  margin-top: 10px;
  margin-bottom: 10px;
}
.designs-subheading {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.designs-subheading:nth-child(2n-1) {
  background-color: var(--darkest-blue);
  color: var(--light-color);
}
.designs-subheading:nth-child(2n) {
  background-color: var(--light-color);
  color: var(--darkest-blue);
}
.designs img {
  max-width: 450px;
}
.color-block,
.color-block-2 {
  height: 100px;
}
.color-block:nth-child(3n-2) {
  background-color: var(--dark-color);
}
.color-block:nth-child(3n-2):after {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  content: "rgb(26,26,26)";
  font-weight: bold;
  color: var(--primary-color);
}
.color-block:nth-child(3n-1) {
  background-color: var(--darkest-blue);
}
.color-block:nth-child(3n-1):after {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  content: "rgb(0,44,58)";
  font-weight: bold;
  color: var(--primary-color);
}
.color-block:nth-child(3n) {
  background-color: var(--light-color);
}
.color-block:nth-child(3n):after {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  content: "rgb(238,238,238)";
  font-weight: bold;
  color: var(--dark-color);
}
.color-block-2:nth-child(3n-2) {
  background-color: var(--dark-blue);
}
.color-block-2:nth-child(3n-2):after {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  content: "rgb(0,92,122)";
  font-weight: bold;
  color: var(--primary-color);
}
.color-block-2:nth-child(3n-1) {
  background-color: var(--secondary-color);
}
.color-block-2:nth-child(3n-1):after {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  content: "rgb(0,140,186)";
  font-weight: bold;
  color: var(--light-color);
}
.color-block-2:nth-child(3n) {
  background-color: var(--primary-color);
}
.color-block-2:nth-child(3n):after {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  content: "rgb(255,255,255)";
  font-weight: bold;
  color: var(--dark-color);
}
/* ##########################################
GLOBAL VARIABLES AND GAME DATA CSS
########################################## */
.variables-subheading {
  margin-top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--light-color);
  color: var(--darkest-blue);
}
